<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style-header-navbar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Новости</title>
</head>

<body>
    <header class="header">
        <div class="header__top-background">
            <div class="container">
                <div class="header__top col-12 d-flex justify-content-between pt-2 pb-2">
                    <a href="#" class="header__top-title">RamZan</a>
                    <div class="header__top-links d-flex justify-content-between col-7">
                        <a href="#" class="top__links-item">Моя страница</a>
                        <a href="#" class="top__links-item">Новости</a>
                        <a href="#" class="top__links-item">Сообщения</a>
                        <a href="#" class="top__links-item">Друзья</a>
                        <a href="#" class="top__links-item">Сообщества</a>
                    </div>
                    <a href="#" class="header__top-logout">Выйти</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="header-group pt-4">
                <div class="group-by__side-center d-flex justify-content-between w-50">
                    <div class="header__left-side col-1">
                        <div class="header__left-side__panel mt-5">
                            <ul>
                                <li><i class="far fa-solid fa-file fa-2x"></i></li>
                                <li><i class="far fa-solid fa-file-image fa-2x"></i></li>
                                <li><i class="far fa-solid fa-file-video fa-2x"></i></li>
                                <li><i class="far fa-solid fa-file-audio fa-2x"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>