*,
*::after,
*::before {
    box-sizing: border-box
}

.menu-group {
    padding-top: 100px;
}

.menu {
    margin: 100px auto auto auto;
    position: relative;
    background-color: #908371;
    height: 600px;
    min-width: 600px;
    border-bottom: 5px solid #B49578;
    border-top: 5px solid #B49578;
}

.menu__title {
    text-align: center;
    margin: auto;
    padding: 5px;
    width: 60%;
    border-bottom: 3px solid #EAB67C;
    color: white;
    font-family: 'Geometos';
    font-size: 27px;
}

.menu__form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__submit-button {
    display: none;
}


.menu__submit-button-label {
    font-family: 'Geometos';
    margin-top: 15px;
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    cursor: pointer;
    color: #4D5462 !important;
    border: none;
    background-color: #EAB67C;

    &:hover {
        color: #ffffff !important;
        background-color: #B49578;
    }
}

.menu__input-group {
    width: 100%;
    height: 66.40px;
}

.menu__invalid-item {
    height: 1.4rem;
    color: rgb(255, 255, 255);
}

.menu__invalid-items {
    height: 22.39px;
    width: 100%;
}

.menu__register-input {
    width: 100%;
    color: #4D5462;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    height: 2rem;
    margin-top: 1rem;
    border: 0;
    border-bottom: 2px solid #EAB67C;
    outline: none;
    font-family: 'Plumb';

    &:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: opacity 0.8s ease;
    }

    :focus::-moz-placeholder {
        opacity: 0;
        transition: opacity 0.8s ease;
    }

    :focus:-moz-placeholder {
        opacity: 0;
        transition: opacity 0.8s ease;
    }

    :focus:-ms-input-placeholder {
        opacity: 0;
        transition: opacity 0.8s ease;
    }
}

$speed: 0.5s;

.menu__button-route {
    width: 100%;
    margin-top: 5px;
}

.btn-flip {
    opacity: 1;
    outline: 0;
    color: #ffff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none !important;
    font-family: 'Geometos';
    text-transform: uppercase;

    &:hover {

        &:after {
            opacity: 1;
            transform: translateY(0) rotateX(0);
        }

        &:before {
            opacity: 0;
            transform: translateY(50%) rotateX(90deg);
        }
    }

    &:after {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        color: white;
        display: block;
        transition: $speed;
        position: absolute;
        background: #B49578;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
    }

    &:before {
        top: 0;
        left: 0;
        opacity: 1;
        color: #4D5462;
        display: block;
        padding: 0 30px;
        line-height: 40px;
        transition: $speed;
        position: relative;
        background: #EAB67C;
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
    }
}

.menu__bottom-icons {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px;
}


.menu__messages-items {
    width: 400px;
    top: 200px;
    right: -400px;
    position: absolute;
}
