*,
*::after,
*::before {
    box-sizing: border-box
}

@font-face {
    font-family: 'Downcome';
    src: url('../assets/fonts/Downcome.otf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Plumb';
    src: url('../assets/fonts/Plumb.ttf');
    font-style: normal;
    font-weight: 300;
}

.header {
    background-image: url('../assets/images/background-authenticating.jpg');
    background-size: cover;
    height: 100vh;
}

.menu-group {
    padding-top: 20vh;
}

.menu {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    min-width: 370px;
    border-right: 3px solid rgba(0, 0, 0, 0.65);
    border-left: 3px solid rgba(0, 0, 0, 0.65);
}

.menu-title {
    font-family: 'Downcome';
    font-size: 27px;
    font-weight: 300;
    opacity: 0.9;
}

.form__submit-button{
    display: none;
}

.submit__button-label{
    margin-top: 10px;
    font-size: 1.1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    cursor: pointer;
    color: black!important;
    opacity: 0.75!important;
    border: none;
    background-color: rgb(191, 189, 189);
    &:hover{
        color: #ffffff !important;
        background-color: #929292;
    }
}

.input-group{
    height: 66.40px;
}

.invalid{
    height: 1.4rem;
    color: rgb(120, 36, 65);
}

.invalid-group{
    height: 22.39px;
    width: 100%;
}

.form__register-input {
    height: 1.5rem;
    margin-top: 1rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    font-family: 'Plumb';

    &:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: opacity 0.8s ease;
    }

    :focus::-moz-placeholder {
        opacity: 0;
        transition: opacity 0.8s ease;
    }

    :focus:-moz-placeholder {
        opacity: 0;
        transition: opacity 0.8s ease;
    }

    :focus:-ms-input-placeholder {
        opacity: 0;
        transition: opacity 0.8s ease;
    }
}

$speed: 0.5s;

.btn-flip {
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none !important;
    font-family: 'Open Sans';
    text-transform: uppercase;

    &:hover {

        &:after {
            opacity: 1;
            transform: translateY(0) rotateX(0);
        }

        &:before {
            opacity: 0;
            transform: translateY(50%) rotateX(90deg);
        }
    }

    &:after {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        color: #323237;
        display: block;
        transition: $speed;
        position: absolute;
        background: #adadaf;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
    }

    &:before {
        top: 0;
        left: 0;
        opacity: 1;
        color: #adadaf;
        display: block;
        padding: 0 30px;
        line-height: 40px;
        transition: $speed;
        position: relative;
        background: #323237;
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
    }
}
