%linkHeader {
    text-decoration: none;
    color: #212529;

    &:hover {
        text-decoration: none;
        color: #212529;
    }
}

.header__center-image {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.header__center-group__input {
    margin-top: -20px;
    display: flex;
    justify-content: flex-start;

    input {
        display: none;
    }

    label {
        cursor: pointer;
        opacity: 0.75;
        background-image: url("../assets/images/avatar-upload.svg");
        background-size: cover;
        width: 100%;
        height: 17px;
    }
}

.center__image-input {
    padding: 0 5px;
    font-family: 'Plumb';
    font-size: 15px;
    cursor: pointer;
    display: flex;
    background: rgb(255, 255, 255);
    border-radius: 40px;
    height: 23px;
    align-items: center;
    justify-content: center;
}

.image-block {
    border-radius: 5%;
}

.right-side__panel-sticks {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.panel__stick-first {
    content: "";
    background-color: #fff;
    width: 2px;
    height: 30px;
    margin-top: -40px;
}

.panel__stick-second {
    content: "";
    background-color: #fff;
    width: 2px;
    height: 30px;
    margin-top: -40px;
}

.header__right-side__panel {
    padding: 10px;
    margin-top: 30px;
    border: 1px solid white;
    border-radius: 5%;
    background-color: #929292;
}

.right-side__title {
    font-size: 1.3rem;
    color: #ffffff;
}

.right-side__descr {
    ul {
        padding: 0;

        li {
            color: #ffffff;
            list-style: none;
        }
    }
}

.main__post-form {
    input {
        display: none;
    }
}

.post__form-text {
    background-color: #fff;
    border: none;
    outline: none;
    position: static !important;
}

.post__form-attach__files {
    height: 0;

    li {
        overflow: hidden;
    }
}

.post__form-submit {
    cursor: pointer;
    color: white;
    border-bottom: 1px solid white;
}

.post__form-file {
    div {
        cursor: pointer;
        position: absolute;
        margin-top: 3px;
        background-image: url("../assets/images/form-post-attach.svg");
        background-size: cover;
        width: 20px;
        height: 20px;
    }
}

.main__post-note {
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(146, 146, 146);
}

.post__note-footer {
    background-color: white;
}

.post__note-title {
    color: white;
}

.post__note-image {
    background-size: contain;
}

%noteFooter {
    cursor: pointer;
    background-size: cover;
    width: 1.3rem;
    height: 1.3rem;
    opacity: 0.7;
}

.note__footer-edit {
    @extend %noteFooter;
    background-image: url("../assets/images/post-footer-edit.svg");

}

.note__footer-like {
    @extend %noteFooter;
    background-image: url("../assets/images/post-footer-like.svg");
}

.note__footer-repost {
    @extend %noteFooter;
    background-image: url("../assets/images/post-footer-repost.svg");
}

.footer-note__like-group {
    cursor: pointer;
}

.main__friendlist {
    border: 1px solid white;
    border-radius: 15px;
    margin-top: 0;
    padding-top: 10px;
    background-color: #929292;
}

.friendlist-roster {
    ul {
        border-top: 1px solid white;
        padding-top: 15px;

        li {
            list-style: none;
        }
    }
}

.friendlist-title {
    color: white;
    text-align: start;
    font-family: 'Plumb';
    font-size: 1.2rem;
    margin-left: 10%;
}

.friendlist__roster-image {
    border-radius: 50%;
}

.friendlist__roster-username {
    text-align: center;
    color: white;
    text-decoration: none !important;
}

.freindlist-roster__group {
    a {
        @extend %linkHeader;
    }
}
